<!DOCTYPE html>
<head> 
  <link href="<%= url('/user_input.css') %>" rel="stylesheet" type="text/css" />
</head>

<h1> Meal Choices </h1>
<div id='results'>
  <p> From these ingredients '<%= @ingredients_list %>' you could make: </p>
</div>

<div id='option' >
  <% if @meal_choices == 'Have you got anything else?!' %>
    <div id='choice'>
      <h4><%= @meal_choices %></h4>
    </div></br>
  <% else %>
    <% @meal_choices.each do |choice| %>
      <div id='choice'>
        <h4><%= choice.split(':')[0] %></h4>
        <%= choice.split(':')[1] %></br>
      </div></br>
    <% end %>
  <% end %>
</div></br>

